<h1><%= @album.title %></h1>

<ul>
  <li>Band: 
    <a href="<%= band_url(@album.band) %>"><%= @album.band.name %></a>
  </li>
  <li>Year: <%= @album.year %></li>
  <li>Type: <%= @album.studio_album ? "Studio Album" : "Live Album" %></li>
</ul>

<h3>Tracks:</h3>
<ul>
  <% @album.tracks.each do |track| %>
    <li>
      <a href="<%= track_url(track) %>"><%= track.title %></a>
    </li>
  <% end %>
</ul>

<h4>Links:</h4>
<ul>
  <li>
    <a href="<%= new_album_track_url(@album) %>">Add Track</a>
  </li>
  <li>
    <a href="<%= edit_album_url(@album) %>">Edit Album</a>
  </li>
  <li>
    <form action="<%= album_url(@album) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <%= auth_token %>
      <input type="submit" value="Delete Album">
    </form>
  </li>
</ul>
