<% action_url = @band.persisted? ? band_url(@band) : bands_url %>
<% http_method = @band.persisted? ? "PATCH" : "POST" %>
<% button_text = @band.persisted? ? "Update Band" : "Create Band" %>

<form action="<%= action_url %>" method=POST>
  <input type="hidden" name="_method" value="<%= http_method %>">
  <%= auth_token %>

  <label for="band_name">Name</label>
  <input type="text" id="band_name" name="band[name]" value="<%= @band.name %>">
  <br>

  <input type="submit" value="<%= button_text %>">
</form>